*{

}

.portada{
    width: 100%;
    border-radius: 3%;
    position: relative;

}
.perfil{
    width: 20%;
    border-radius: 50%;
}
.logo{
    padding-left: 50%;
}
div{
    background-color: aliceblue;
    border-radius: 3%;
    padding: 10px;
    margin-top: 20px;
    border: solid grey;
}